@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
}

html, body {
    width: 100%;
    height: 100%;
}

.container-fluid {
    height: 100%;
}

header {
    height: 108px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header > div {
    height: 100%;
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 48px;
    margin-left: 16px;
}

header .nav {
    float: right;
    padding-top: 12px;
    padding-bottom: 12px;
}

header .nav li,
header .nav li input, 
header .nav li input:focus,
header .nav li a {
    color: #28a745;
}


.content, 
.content > div {
    height: 100%;
}

.content > div:first-child {
    background: url('./assets/img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

#profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    color: white;
}

#profile-img {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    border: 3px solid white;
}

#profile-title {
    position: absolute;
    top: 108px;
    left: 64px;
    font-weight: 100;
    font-size: 20px;
}

#profile-desc {
    margin-top: 32px;
    width: 60%;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}

#profile-container span {
    color: #007bff;
}

#profile-container .nav-link {
    color: white;
}

#profile-container .nav-link:hover {
    color: #007bff;
}

#follow {
    font-size: 12px; color: white; border: 1px solid white; padding: 4px 8px; text-decoration: none;
}


#post-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;
}


.post {
    width: 70%;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 16px;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.post-title {
    font-weight: 900;
    font-size: 24px;
    margin-right: 16px;
}
.post-tags .nav-link {
    color: #28a745;
    border-radius: 20px;
    padding: 4px 0;
    font-size: 12px;
    margin-right: 8px;
}

.post-content {
    display: block;
}